.missClue-container {
    width: 1030px;
}
.missClue-writeComment-box {
    display: flex;
    margin: 50px 0 0 0;
}
.missClue-login-photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
    margin: 0 40px 0 0;
}
.missClue-input-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow:0px 3px 12px 1px rgba(0,0,0,0.16);
}
.missClue-input {
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    height: 80px;
    background-color: #FFFFFF;
}
.missClue-input-footer-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.missClue-comment-box {
    padding: 30px 0 0 0;
}
.missClue-comment-header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.missClue-comment-profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    margin: 0 40px 0 0;
}
.missClue-comment-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px 0 0;
}
.missClue-comment-date {
    font-size: 18px;
    margin: 0 0 0 10px;
}
.missClue-comment-des-box {
    margin: 10px 0 10px 100px;
}
.missClue-comment-des-box p{
    margin: 0px 0px;
}
.missClue-comment-photo-box {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}
.missClue-comment-photo-box img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    margin: 0 20px 20px 0;
}

@media screen and (min-width : 0px) and (max-width : 1100px) {
    .missClue-container {
        width: 700px;
    }
}

@media screen and (min-width : 0px) and (max-width : 765px) {
    .missClue-container {
        width: 375px;
    }
    .missClue-login-photo {
        width: 40px;
        height: 40px;
        margin: 0 20px 0 0;
    }
    .missClue-input {
        font-size: 14px;
        height: 60px;
    }
    .missClue-comment-profile-photo {
        width: 40px;
        height: 40px;
        margin: 0 20px 0 0;
    }
    .missClue-comment-name {
        font-size: 14px;
        font-weight: bold;
        margin: 0 5px 0 0;
    }
    .missClue-comment-date {
        font-size: 12px;
        margin: 0 0 0 0px;
    }
    .missClue-comment-des-box {
        margin: 10px 0 10px 60px;
    }
    .missClue-comment-des-box p{
        font-size: 14px;
        margin: 0px 0px;
    }
    .missClue-comment-photo-box img{
        width: 250px;
        height: 180px;
        object-fit: cover;
        margin: 0 20px 20px 0;
    }
}