.container-missing-info{
    width: 800px;
    border: 1px solid var(---, rgba(4, 9, 33, 0.10));
    box-shadow: 0px 0px 2px 0px rgba(4, 9, 33, 0.03), 0px 2px 0px 0px rgba(0, 0, 0, 0.05), 0px 2px 6px 0px rgba(4, 9, 33, 0.25);
    border-radius: 60px;
}

.missing-info-content{
    margin: 50px;
}

.missing-info-content-text-header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.missing-info-content-text-body{
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width : 0px) and (max-width : 950px) {
    .missing-info-content-text-header{
        flex-direction: column;
        align-items: self-start;
        gap: 0px;
    }
    .container-missing-info{
        width: 350px;
    }
    .missing-info-content-text-date{
        font-size: 12px;
    }
    .missing-info-content-text-p{
        font-size: 12px;
    }
}